*{
    margin: 0;
    padding: 0;
    
}
.body-site{
    display: flex;
    flex-direction: column;
    
}
.grid-menu{
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 600px;
    gap: 10px;
}

.header{
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 500px;
    display: flex;
    align-items: center;
    background-color: #a98282;
    padding: 5px;
}

nav {
    justify-self: end;
}

.logo{
    width: 40px;
    height: 40px;
    justify-self: start;
}

.menur{
    margin: 10px;
}

.nav{
    display: flex;
    background-color: #fff;
    width: 300px;
    justify-content: space-around;
    align-items: center;
}

.nav a{
    margin: 3px;
    text-decoration: none;
    color: #000;
}

.logo img {
  width: 100%;  
  height: 100%;
  border-radius: 50%; 
  object-fit: cover; 
}

.searcher {
    display: flex;
    margin-right: auto;
    align-items: center;
}

.searcher input {
    width: 700px;
    height: 30px;
    margin: 5px;
    padding-left: 10px;
    color: #cf4242;
}


.main-section {
    background-color: #eb5d5d;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.title-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e24f4f;
    border:1px solid #b04343;
    border-radius: 10px;
    width: 15%;
    margin: 20px;
}

.main-section .title-box p {
    margin:1px;
    font-weight: bold;
    font-size: 30px;
    
}

.card-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card{
    display: flex;
    background-color: aliceblue;
    border-radius: 3px;
    justify-content: space-around;
    flex-direction: column;
    width: 500px;
    height: 380px;
    align-items: center;
    padding: 10px;
}

.card img{
    width: 200px;
    height: auto;
}

.sidebar{
    background-color: #447dd1;
}

.footer {
    background-color: #91d658;
    padding: 20px;
    width: 97.6%;
    height: 75px;
}

